.u-section-1 .u-sheet-1 {
  min-height: 2339px;
}

.u-section-1 .u-text-1 {
  margin: 5px auto 0;
}

.u-section-1 .u-image-1 {
  width: 383px;
  height: 202px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 11px 0 18px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid solid dotted;
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  margin-top: 0;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  border-style: solid solid dotted;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  border-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-46 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-49 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-50 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-51 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-52 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-53 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-54 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-55 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-56 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-57 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-58 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-59 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-60 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-61 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-62 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-63 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-64 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-65 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-66 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-67 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-68 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-69 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-70 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-71 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-72 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-73 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-74 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-75 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

.u-section-1 .u-btn-76 {
  background-image: none;
  border-bottom-style: dotted;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2316px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 180px;
  }
}

.u-block-6559-43:not([data-block-selected]):not([data-cell-selected]),
.u-block-6559-43:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6559-43:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-6559-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-6559-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6559-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-39:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-39:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-39:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-57:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-57:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-57:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-74:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-21:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}