.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 295px;
  margin: 42px auto 0 82px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 84px;
  margin: -274px 216px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 46px 392px 0 357px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 29px 110px 0 354px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 15px 585px 0 357px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 49px 807px 0 83px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.5rem;
  background-image: none;
  margin: -51px auto 0 357px;
  padding: 10px 60px 10px 58px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 9px auto 0 83px;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 242px;
  height: auto;
  min-height: 60px;
  margin: 7px auto 58px 83px;
}

.u-section-1 .u-repeater-1 {
  min-height: 60px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 53px;
  height: 53px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 53px;
  height: 53px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 53px;
  height: 53px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 53px;
  height: 53px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -295px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 179px;
    margin-left: 370px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-3 {
    width: 198px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 88px;
    margin-right: 602px;
    margin-left: 88px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -20px;
    margin-right: 209px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -32px;
    margin-left: 82px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 9px;
    margin-bottom: 42px;
    margin-left: 54px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -8px;
    margin-left: -9px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -8px;
    margin-left: -9px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -8px;
    margin-left: -9px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -8px;
    margin-left: -9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 143px;
    margin-left: 187px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 279px;
    margin-left: 244px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 374px;
    margin-left: 96px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 66px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 74px;
  }

  .u-section-1 .u-list-1 {
    width: 286px;
    margin-left: 34px;
    min-height: 273px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 78px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -6px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -6px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -6px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-image-2 {
    height: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 96px;
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 163px;
  }

  .u-section-1 .u-list-1 {
    width: 258px;
    margin-left: 48px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 273px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 4px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 4px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 4px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 4px;
    margin-left: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 83px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 82px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 60px;
  }

  .u-section-1 .u-list-1 {
    width: 243px;
    margin-left: 54px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 45px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -9px;
    margin-right: -42px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -9px;
    margin-right: -42px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -9px;
    margin-right: -42px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -9px;
    margin-right: -42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 689px;
}

.u-section-2 .u-group-1 {
  width: 294px;
  min-height: 415px;
  height: auto;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 360px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 16px;
}

.u-section-2 .u-map-1 {
  width: 232px;
  height: 194px;
  margin: -1px auto 0 16px;
}

.u-section-2 .u-text-2 {
  margin: 16px 36px 0 16px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -295px auto 0 321px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 36px 79px 33px 394px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -275px;
    margin-left: 294px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -285px;
    margin-right: 202px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
    margin-left: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-right: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 42px;
    margin-left: 130px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 14px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 66px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2432px;
}

.u-section-3 .u-btn-1 {
  margin: 46px auto 0 19px;
  padding: 10px 67px 10px 65px;
}

.u-section-3 .u-list-1 {
  width: 932px;
  margin: 38px auto 60px 93px;
}

.u-section-3 .u-repeater-1 {
  min-height: 2243px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 140px 0 0;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  height: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 35px 63px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 140px 0 0;
}

.u-section-3 .u-line-2 {
  margin-top: 0;
  height: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 35px 63px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0 140px 0 0;
}

.u-section-3 .u-line-3 {
  margin-top: 0;
  height: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 35px 63px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 0 140px 0 0;
}

.u-section-3 .u-line-4 {
  margin-top: 0;
  height: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 35px 63px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3299px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 72px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5211px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 58px;
  }
}